{
    font-family:Arial, helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgba(41, 172, 58, 0.993);
}

main{
    background-color: rgba(233, 255, 233, 0.966);
    width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow:5px 5px 15px rgba(13, 78, 25, 0.945);
}